<?xml version="1.0"?>
<robot name="fanuc_lrmate200id" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="$(find fanuc_lrmate200id_support)/urdf/lrmate200id_macro.xacro"/>
    <xacro:fanuc_lrmate200id prefix=""/>
    <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro"/>
    <xacro:sensor_d435 parent="base_link">
        <origin xyz="0.15 0.0 0.2" rpy="0 0 0"/>
    </xacro:sensor_d435>
    <xacro:include filename="$(find fanuc_lrmate200id_support)/urdf/spray_tool.xacro"/>
    <xacro:spray_tool prefix="" connected_to=""/>
    <link name="tcp"/>
    <joint name="tcp_joint" type="fixed">
        <origin xyz="-0.0758 0 0.2" rpy="0 0 ${pi}"/>
        <parent link="spray_tool"/>
        <child link="tcp"/>
    </joint>
    <link name="world"/>
    <joint name="world_joint" type="fixed">
        <parent link="world"/>
        <child link="base_link"/>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </joint>
</robot>
