<?xml version="1.0"?>
<launch>

    <arg name="robot_name" default="ur5" />
    <group ns="$(arg robot_name)">
        <param name="move_group" type="string" value="$(arg robot_name)"/>
<param name="ee_link" type="string" value="wrist_3_link"/>
        <node pkg="ur5_control" type="IK_test_node" name="IK_by_trac_IK" output="screen">
            <param name="tf_prefix" type="string" value="$(arg robot_name)"/>
        </node>
        <node pkg="ur5_control" type="CV_node" name="CV_RealSense" output="screen">
            <param name="tf_prefix" type="string" value="$(arg robot_name)"/>
        </node>
    </group>
</launch>


